:root{
    --primaryColor:#b69f4b;
    --secondaryColor:#059789;
    --secHoverColor:#000;
    --greyColor:#f7f7f7;
    }

.form-container {
    padding: 1.5rem 0;
    margin: 5rem 6rem;
    color: #2a2a2a;

    form {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 70% !important;
        margin: auto;
      }

      input {
        height: 3rem;
        padding: 0 1rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
        width: 500px;
        border: 1px solid #2a2a2a;
      }

      textarea {
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
         width: 500px;
        border: 1px solid #2a2a2a;
      }

      button {
        display: inline;
        border: 2px solid black ;
        color: var(--secHoverColor) !important;
        font-size: 13px;
        transition: .3s;
        width: max-content;
        &:hover{
            background: #f7f7f7;
            color: var(--secHoverColor) !important;
            border: 2px solid white ;
      }
      }

      button:hover {
        background-color:  white !important;
      }

  }
  
 
  
  @media screen and (max-width: 850px) {
    .form-container {
      margin: 4rem 2rem;

      form {
        padding-top: 2rem;
        width: 90%;
      }

      input {
        width: 200px;
        
      }

      textarea {
         width: 200px;
      }

    }
  
}