:root{
  --primaryColor:#b69f4b;
  --secondaryColor:#059789;
  --secHoverColor:#000;
  --greyColor:#f7f7f7; }

  .header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 1.5rem;
    background:var(--secHoverColor);
    z-index: 2000;

    .logoDiv{
      display: flex;
      img{
        width: 60px;
        border-radius: 50%;
      }
      .logo{
        padding-left: 10px;
        color: var(--greyColor);
        font-weight: 600;
        cursor: pointer;

      }
    }

    @media screen and (max-width: 768px) {
      .menuDiv{
        background: var(--primaryColor) ;
        position: absolute;
        height: max-content;
        width: 80%;
        border-radius: 10px;
        padding: 1rem;
        top: -700%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 0 3px 4px rgba(243, 243, 243, 0.9);
        transition: .3s ease;
        z-index: 300;

        .menuLists{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          align-items: center;
          margin: auto;
          padding: 1rem 0;


          .navItem{
            padding: 1rem 0;

            .menuLink{
              color: white;
              font-size: 15px;
              font-weight: 600;
              &:hover{
                color: var(--secHoverColor);
              }
            }
          }
        }

        .closeNavbar{
          color: white;
          position: absolute;
          top: 1rem;
          right: 1.5rem;

          .icon{
            font-size: 25px;
          }
          &:hover .icon{
            color: var(--secHoverColor);
          }
        }

      }

      .activeNavbar{
        top: 6rem ;
      }

      .socialIcons{
        display: none;
      }
      
    }

    .toggleNavbar{
      color: var(--greyColor);
      font-size: 25px;
      &:hover{
        .icon{
          color: white;
        }
      }
    }
  }

  ///MEDIA QUERIES
  
  @media screen and (min-width:768px){
    .menuDiv{
      .menuLists{
        display: flex ;
        flex-direction: row;
        padding: 0 .5rem ;

        .navItem{
          padding: 0 .5rem;

          .menuLink{
            color: azure;
            font-size: 16px;

            &:hover{
              color: var(--primaryColor);
            }
          }
        }

       
      }


    }

    .closeNavbar,.toggleNavbar{
      display: none;
    }

    .socialIcons{
      gap: .5rem;

      .icon{
        color: whitesmoke;
        font-size:25px ;
      }
    }
  }

  @media screen and (min-width:1240px){
    .header{
      padding: 2.5rem 1rem;
    }

    .menuLists{
      padding: 0 1rem;

      .navItem{
        padding: 0 1rem;

        .menuLink{
          color: azure;
          font-size: 16px;
        }
      }
    }

    
  }
